html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  min-height: 50vh;
  margin: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
h2 {
  text-align: center;
  font-size: 1.5rem;
  color: rgb(129, 155, 56);
  margin-top: 3vh;
}
.btn {
  width: 8rem;
  height: 3rem;
  background-color: rgb(129, 155, 56);
  border-radius: 10px;
  color: azure;
  position: relative;
}
.btn:hover {
  cursor: pointer;
}
.btn-left {
  align-self: flex-start;
}
.btn-rigth {
  align-self: flex-end;
}
.popover {
  width: 10rem;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: rgb(247, 246, 246);
  position: absolute;
  z-index: 100;
}
.popover-title {
  padding: 0.2rem;
  text-align: center;
  letter-spacing: 0.2em;
  font-size: medium;
  font-weight: bold;
  background-color: lightgray;
  border-bottom: 1px solid grey;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.popover-content {
  padding: 0.2rem;
  font-size: small;
  color: black;
}
.hidden {
  display: none;
}
